# Plaid Credentials
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox

# Stripe Credentials
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Gemini AI
GEMINI_API_KEY=

# Citi API
VITE_CITI_CLIENT_ID=
CITI_CLIENT_SECRET=



# Azure MSAL
VITE_AZURE_CLIENT_ID=
VITE_AZURE_AUTHORITY=

# Modern Treasury
MT_WEBHOOK_KEY=
